<section class="hero">
  <div class="hero-body">
    <p class="title">
      Preguntale al Museo
    </p>
    <p class="subtitle">
      Gran parte del trabajo del museo es hacerse preguntas: sobre los objetos, sobre las distintas civilizaciones y sobre nosotrxs mismxs también. Nos encantaría conocer qué preguntas te surgieron a vos, en qué te quedaste pensando o qué te quedo dando vueltas
      ¿Te gustaría compartirnos una pregunta?</p>
  </div>
</section>

<div class="container is-fluid">
  <div class="notification is-warning">
    <%= render 'visitor_questions/form'%>
  </div>
</div>