<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @visitor_question.text %>
</p>

<%= link_to 'Edit', edit_visitor_question_path(@visitor_question) %> |
<%= link_to 'Back', visitor_questions_path %>
